@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-track {
  border-radius: 9999px;
  background-color: #f2f9ff;
}

::-webkit-scrollbar-thumb {
  border-radius: 9999px;
  background-color: #040d21;
}

.about-home::-webkit-scrollbar {
  width: 0.5em;
}

.about-home::-webkit-scrollbar-track {
  border-radius: 9999px;
  background-color: #f2f9ff;
}

.about-home::-webkit-scrollbar-thumb {
  border-radius: 9999px;
  background-color: #040d21;
}

.about-content-scrollbar::-webkit-scrollbar {
  width: 0.5em;
}

.about-content-scrollbar::-webkit-scrollbar-track {
  border-radius: 9999px;
  background-color: #4a5261;
}

.about-content-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 9999px;
  background-color: #f9b20b;
}

.hide-scrollbar::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  display: none;
}

/* BUTTONS BG TRANSITION */
.bg-button {
  background-image: linear-gradient(
    90deg,
    #f9b20b,
    #f9b20b,
    #f9b20b,
    #f1dc39,
    #f1dc39,
    #f1dc39
  );
  background-size: 400%;
  background-position: left;
  transition: background-position 300ms;
}

.bg-button:hover {
  background-position: center;
}

.bg-button:active {
  background-position: right;
}
